<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="container contact contact-index">
      <h2>Card Issuer List</h2>
      
      <tb>
      <ul class="list-group">
          
        <% CreditCardIssuerList.forEach(function(CreditCardIssuerList) { %>
          <li class="list-group-item">
              <tr> 
              <td>
                    <a href="/CreditCardIssuerList/<%= CreditCardIssuerList._id %>"><%= CreditCardIssuerList.issuer %></a>
              </td>
              <td><%= CreditCardIssuerList.amount %>  </td>
              <td><%= CreditCardIssuerList.cost_period %>  </td>
              <td><%= CreditCardIssuerList.holding %>  </td>
              <td><%= CreditCardIssuerList.waiting %>  </td>
              
            </tr>
          </li>
        <% }) %>
      </ul>
    </tb>
 
    </div>
  </body>
</html>
